<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">Quick and Easy</h4>
    <p class="mb-0">Sometimes you just don't need the overhead of Gatsby, Nuxt or Jekyll</p>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Sites that use Kiss-SSG</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="https://www.a1k9training.co.uk/">A1K9 Training</a></li>
      <li><a href="https://www.learna.ac.uk/">Learna Ltd</a></li>
    </ol>
  </div>
</aside>