<nav class="nav d-flex justify-content-between">
  <a class="p-2 text-muted" href="#">Setup</a>
  <a class="p-2 text-muted" href="#">Folders</a>
  <a class="p-2 text-muted" href="#">Scan/Generate</a>
  <a class="p-2 text-muted" href="#">Page/Pages</a>
  <a class="p-2 text-muted" href="#">Helpers</a>
</nav>