<h1>I am handlebars {{title}}</h1>

<div>
 {{#markdown}}
  ## I'm a inline markdown

  - I make lists
  - Easy
 {{/markdown}}
</div>

<div>
 {{#markdown model.markdown}}{{/markdown}}
</div>

<div>
 {{> "markdown"}}
</div>

<div>
{{#if  model.partials.dynamic}}
    {{> (lookup model.partials 'dynamic')}}
{{/if}}
</div>