{{#extend "layout"}}

  {{#content "jumbotron"}}
    {{> "home/jumbotron"}}
  {{/content}}

  {{#content "body"}}

  <h3 class="pb-4 mb-4 font-italic border-bottom">
    Usage
  </h3>

  <div class="blog-post">   
    {{> "usage/setup"}}
    <hr />
    {{> "usage/methods"}}
    <hr />
    {{> "usage/controllers"}}
    <hr />
    {{> "usage/helpers"}}
  </div>
  {{/content}}
{{/extend}}