<h1>I am handlebars {{title}}</h1>

<div id="inline">
 {{#markdown}}
  ## I'm a inline markdown

  - I make lists
  - Easy
 {{/markdown}}
</div>

<div id="property">
 {{#markdown model.markdown}}{{/markdown}}
</div>

<div id="property">
 {{markdown model.markdown}}
</div>

<div >
 {{> "markdown"}}
</div>

<div>
{{#if  model.partials.dynamic}}
    {{> (lookup model.partials 'dynamic')}}
{{/if}}
</div>

<style>
  {{#sass "5-helpers/assets/sass.scss"}}
    #inline {
        h2 {
            color: red;
        }
    }
  {{/sass}}

  {{sass "5-helpers/assets/sass.scss"}}
</style>
