<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-12 px-0">
    <h1 class="display-4 font-italic">Keep it Simple Static Site Generator</h1>
    <p class="lead my-3">
      Kiss Static Site Generator, is an open-source MVC html website builder (for node), that leverages handlebar templates to make quick, simple and blisteringly fast websites.
    </p>
  </div>
</div>