{{#extend "layout"}}
    {{#content "body"}}
    <h1>{{title}}</h1>

    <div>
    {{>"hbeg"}}
    </div>

    <div>
    {{>"htmleg"}}
    </div>

    <div>
    {{>"mdeg"}}
    </div>

    <div>
    {{#if  model.partials.dynamic}}
        {{> (lookup model.partials 'dynamic')}}
    {{/if}}
    </div>
    {{/content}}
{{/extend}}